@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');
*{font-family: 'Ubuntu', sans-serif;}
html {
  position: relative;
  min-height: 100%;
}
main {
	margin-bottom: 247px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.cursor-pointer {
  cursor: pointer;
}